# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

# Секреты и конфиги
.env
.env.*
*.env
*.env_backup
*.json
serviceAccountKey.json
aipa-plate-firebase-